@font-face {
    font-family: 'MyriadProLightSemiCondensed';
    src: url('../fonts/MyriadProLightSemiCondensed/MyriadProLightSemiCondensed.eot');
    src: url('../fonts/MyriadProLightSemiCondensed/MyriadProLightSemiCondensed.eot') format('embedded-opentype'),
    url('../fonts/MyriadProLightSemiCondensed/MyriadProLightSemiCondensed.woff2') format('woff2'),
    url('../fonts/MyriadProLightSemiCondensed/MyriadProLightSemiCondensed.woff') format('woff'),
    url('../fonts/MyriadProLightSemiCondensed/MyriadProLightSemiCondensed.ttf') format('truetype'),
    url('../fonts/MyriadProLightSemiCondensed/MyriadProLightSemiCondensed.svg#MyriadProLightSemiCondensed') format('svg');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular/MyriadProRegular.eot') format('embedded-opentype'),
    url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/MyriadProBold/MyriadProBold.eot');
    src: url('../fonts/MyriadProBold/MyriadProBold.eot') format('embedded-opentype'),
    url('../fonts/MyriadProBold/MyriadProBold.woff') format('woff'),
    url('../fonts/MyriadProBold/MyriadProBold.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('../fonts/MyriadProItalic/MyriadProItalic.eot');
    src: url('../fonts/MyriadProItalic/MyriadProItalic.eot') format('embedded-opentype'),
    url('../fonts/MyriadProItalic/MyriadProItalic.woff') format('woff'),
    url('../fonts/MyriadProItalic/MyriadProItalic.ttf') format('truetype');
}
