@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
}

img {
  opacity: 0;
}

.page-wrap {
  width: 650px;
  margin: 0 auto;
  padding: 0 15px;
}

.color0 {
  color: #D17F15;
}

.color1 {
  color: #578726;
}

.color2 {
  color: #175778 !important;
}

.font-b {
  font-family: "MyriadProBold";
  color: #404040;
}

body {
  background: white;
  color: black;
  font-family: "MyriadProLightSemiCondensed";
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: black;
}

.header img {
  width: 100%;
  height: auto;
}

.logo {
  font-family: "MyriadProItalic";
  margin: 10px 0;
  float: right;
  width: 290px;
  font-size: 14px;
}
.logo img {
  width: 55px;
  height: 60px;
}

.img-box img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 2px 0 18px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0 18px -4px rgba(0, 0, 0, 0.75);
}

.img-text-box {
  position: relative;
  width: 100%;
  padding: 0 0 19px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.img-text-box img {
  width: 61%;
  height: auto;
  -webkit-box-shadow: 2px 0 18px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0 18px -4px rgba(0, 0, 0, 0.75);
}
.img-text-box .img-text {
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 1em;
  width: 275px;
  font-family: "MyriadProRegular";
}

.imx-text-border-t {
  border-top: 1px solid black;
  padding-top: 10px;
  top: 20%;
}

.imx-text-border-b {
  padding-bottom: 5px;
  bottom: 26%;
  border-bottom: 1px solid black;
}

.title {
  font-size: 2.3125em;
  margin-bottom: 28px;
  margin-top: 90px;
  color: #D17F15;
}

.sub-title {
  font-size: 1em;
  font-family: "MyriadProRegular";
  color: #578726;
  margin-bottom: 47px;
}

.img-title {
  text-align: center;
  font-size: 1.125em;
  margin-bottom: 34px;
}

.article1 {
  margin-bottom: 20px;
}
.article1 h1 {
  text-align: center;
  font-size: 4.375em;
  margin: 40px 0 22px 0;
  color: #D17F15;
}
.article1 h2 {
  text-align: center;
  font-size: 3.25em;
  margin-bottom: 70px;
  color: #578726;
}

.article2 ul {
  margin: 35px 0 50px 19px;
  font-family: "MyriadProRegular";
  font-size: 0.9375em;
}
.article2 ul li {
  margin-bottom: 4px;
}

.article3 ul {
  width: 142px;
  float: right;
  text-align: left;
}
.article3 ul li {
  margin-bottom: 3px;
}

.video {
  margin-bottom: 40px;
}

.video iframe {
  border: none;
  width: 100%;
  height: 366px;
}

.copyright {
  margin: 100px 0 20px;
  text-align: center;
  padding: 4px 4px 0 4px;
  font-family: "MyriadProRegular";
  border: 1px solid #578726;
}
.copyright div {
  color: #D17F15;
  margin-bottom: 5px;
}
.copyright a {
  color: #175778;
}
.copyright img {
  width: 100%;
  margin-bottom: 20px;
}

#map {
  width: 100%;
  height: 400px;
  margin: 20px 0 0 0;
  padding: 0;
  border: none;
}

.social {
  position: fixed;
  right: 0;
  top: 320px;
  z-index: 2;
}

.social .icon {
  width: 32px;
  height: 32px;
  display: block;
  margin-top: 1px;
}

.social .icon:hover {
  opacity: 0.6;
}

.social .vk {
  background: url("../img/social-icons.png") 0 -132px no-repeat;
}

.social .fb {
  background: url("../img/social-icons.png") 0 -165px no-repeat;
}

.social .tb {
  background: url("../img/social-icons.png") 0 -198px no-repeat;
}

.social .g {
  background: url("../img/social-icons.png") 0 -231px no-repeat;
}

.social .in {
  background: url("../img/social-icons.png") 0 -264px no-repeat;
}

.social .tw {
  background: url("../img/social-icons.png") 0 -297px no-repeat;
}

.social .ta {
  background: url("../img/social-icons.png") 0 -330px no-repeat;
}

.social .fs {
  background: url("../img/social-icons.png") 0 -363px no-repeat;
}

.social .in {
  background: url("../img/social-icons.png") 0 -429px no-repeat;
}

.page .page-wrap {
  width: 980px;
  margin: 0 auto;
}

.first-title {
  font-family: "MyriadProRegular";
  text-align: center;
  font-size: 5.56em;
  margin: 42px 0 8px 0;
  color: #D17F15;
}

.second-title {
  text-align: center;
  font-size: 3.71em;
  color: #578726;
}

.section1 {
  margin-bottom: 70px;
}

.section1 img {
  width: 100%;
}

.page img {
  opacity: 1;
}

.page-h2 {
  margin-top: 120px;
  font-size: 3.15em;
  margin-bottom: 16px;
  color: #D17F15;
}
.page-h2 span {
  float: right;
  font-family: "MyriadProRegular";
  font-size: 1.6em;
  margin-right: 30px;
  line-height: 49px;
  opacity: 0;
}

.page-h3 {
  font-size: 1.7em;
  font-family: "MyriadProRegular";
  color: #578726;
  margin-bottom: 20px;
}

.page-h4 {
  text-align: center;
  font-size: 1.25em;
  line-height: 21px;
  margin-bottom: 70px;
  font-family: "MyriadProRegular";
  font-weight: normal;
}

.page-box {
  margin: 0 auto 70px;
  width: 90%;
}
.page-box .page-box-left {
  position: relative;
  width: 66.2%;
  display: inline-block;
  vertical-align: top;
}
.page-box .page-box-left img {
  width: 100%;
  -webkit-box-shadow: 2px 0 15px -3px #000000;
  box-shadow: 2px 0 15px -3px #000000;
}
.page-box .page-box-right {
  position: relative;
  width: 32.65%;
  display: inline-block;
  vertical-align: top;
}
.page-box .page-box-right img {
  width: 100%;
  -webkit-box-shadow: 2px 0 15px -3px #000000;
  box-shadow: 2px 0 15px -3px #000000;
}

.left-text1,
.left-text2,
.left-text3,
.left-text4,
.left-text5 {
  position: absolute;
  font-family: "MyriadProRegular";
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.left-text1:after,
.left-text2:after,
.left-text3:after,
.left-text4:after,
.left-text5:after {
  content: "";
  position: absolute;
  left: -8px;
  width: 2px;
  background: #000;
  z-index: 2;
}
.left-text1:before,
.left-text2:before,
.left-text3:before,
.left-text4:before,
.left-text5:before {
  content: "";
  position: absolute;
  left: -10px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  z-index: 2;
}

.left-text1 {
  left: 18%;
  top: -30px;
}
.left-text1:after {
  top: 0;
  height: 180px;
}
.left-text1:before {
  bottom: -165px;
}

.left-text2 {
  left: 37%;
  top: -30px;
}
.left-text2:after {
  top: 0;
  height: 220px;
}
.left-text2:before {
  bottom: -205px;
}

.left-text3 {
  left: 71%;
  top: -30px;
}
.left-text3:after {
  top: 0;
  height: 150px;
}
.left-text3:before {
  bottom: -135px;
}

.left-text4 {
  bottom: -30px;
  right: 1%;
}
.left-text4:after {
  top: -85px;
  height: 100px;
}
.left-text4:before {
  top: -85px;
}

.left-text5 {
  bottom: -30px;
  left: 5%;
}
.left-text5:after {
  top: -195px;
  height: 210px;
}
.left-text5:before {
  top: -195px;
}

.right-text1,
.right-text2 {
  position: absolute;
  font-family: "MyriadProRegular";
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 2;
}
.right-text1:after,
.right-text2:after {
  content: "";
  position: absolute;
  left: -8px;
  width: 2px;
  background: #000;
}
.right-text1:before,
.right-text2:before {
  content: "";
  position: absolute;
  left: -10px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #000;
}

.right-text1 {
  top: -30px;
  left: 37%;
}
.right-text1:after {
  top: 0;
  height: 180px;
}
.right-text1:before {
  bottom: -165px;
}

.right-text2 {
  bottom: -30px;
  right: 5%;
}
.right-text2:after {
  top: -25px;
  height: 40px;
}
.right-text2:before {
  top: -25px;
}

.section3 .left-text1 {
  left: 13%;
  top: -30px;
}
.section3 .left-text1:after {
  top: 0;
  height: 115px;
}
.section3 .left-text1:before {
  bottom: -100px;
}

.section3 .left-text2 {
  left: 42%;
  top: -30px;
}
.section3 .left-text2:after {
  top: 0;
  height: 190px;
}
.section3 .left-text2:before {
  bottom: -175px;
}

.section3 .left-text3 {
  bottom: -30px;
  right: 2%;
  top: inherit;
  left: inherit;
}
.section3 .left-text3:after {
  top: -160px;
  height: 175px;
}
.section3 .left-text3:before {
  top: -160px;
}

.section3 .left-text4 {
  bottom: -30px;
  right: 44%;
}
.section3 .left-text4:after {
  top: -45px;
  height: 60px;
}
.section3 .left-text4:before {
  top: -45px;
}

.section3 .left-text5 {
  bottom: -30px;
  left: 13%;
}
.section3 .left-text5:after {
  top: -80px;
  height: 95px;
}
.section3 .left-text5:before {
  top: -80px;
}

.section3 .right-text1 {
  top: -30px;
  left: 37%;
}
.section3 .right-text1:after {
  top: 0;
  height: 100px;
}
.section3 .right-text1:before {
  bottom: -85px;
}

.section3 .right-text2 {
  bottom: -30px;
  right: 5%;
}
.section3 .right-text2:after {
  top: -75px;
  height: 90px;
}
.section3 .right-text2:before {
  top: -75px;
}

.section4 .left-text1 {
  left: 9%;
  top: -30px;
}
.section4 .left-text1:after {
  top: 0;
  height: 90px;
}
.section4 .left-text1:before {
  bottom: -75px;
}

.section4 .right-text1 {
  top: -30px;
  left: 24%;
}
.section4 .right-text1:after {
  top: 0;
  height: 90px;
}
.section4 .right-text1:before {
  bottom: -75px;
}

.section4 .right-text2 {
  bottom: -30px;
  right: 5%;
}
.section4 .right-text2:after {
  top: -75px;
  height: 90px;
}
.section4 .right-text2:before {
  top: -75px;
}

.section5 .left-text1 {
  left: 9%;
  top: -30px;
}
.section5 .left-text1:after {
  top: 0;
  height: 90px;
}
.section5 .left-text1:before {
  bottom: -75px;
}

.section5 .right-text1 {
  top: -30px;
  left: 24%;
}
.section5 .right-text1:after {
  top: 0;
  height: 90px;
}
.section5 .right-text1:before {
  bottom: -75px;
}

.section5 .right-text2 {
  bottom: -30px;
  right: 25%;
}
.section5 .right-text2:after {
  top: -45px;
  height: 60px;
}
.section5 .right-text2:before {
  top: -45px;
}

.section6 .left-text1 {
  left: 9%;
  top: -30px;
}
.section6 .left-text1:after {
  top: 0;
  height: 90px;
}
.section6 .left-text1:before {
  bottom: -75px;
}

.section6 .right-text1 {
  top: -30px;
  left: 24%;
}
.section6 .right-text1:after {
  top: 0;
  height: 90px;
}
.section6 .right-text1:before {
  bottom: -75px;
}

.section6 .right-text2 {
  bottom: -30px;
  right: 43%;
}
.section6 .right-text2:after {
  top: -45px;
  height: 60px;
}
.section6 .right-text2:before {
  top: -45px;
}

.section7 .left-text1 {
  left: 12%;
  top: -30px;
}
.section7 .left-text1:after {
  top: 0;
  height: 90px;
}
.section7 .left-text1:before {
  bottom: -75px;
}

.section7 .right-text1 {
  top: -30px;
  left: 24%;
}
.section7 .right-text1:after {
  top: 0;
  height: 90px;
}
.section7 .right-text1:before {
  bottom: -75px;
}

.section7 .right-text2 {
  bottom: -30px;
  right: 5%;
}
.section7 .right-text2:after {
  top: -45px;
  height: 60px;
}
.section7 .right-text2:before {
  top: -45px;
}

.promo .section0 h1 {
  padding: 89px 0 22px;
  font-size: 86px;
  color: #D17F15;
  text-align: center;
  font-family: "MyriadProRegular";
}
.promo .section0 h2 {
  color: #578726;
  font-size: 39px;
  text-align: center;
  margin-bottom: 19px;
}
.promo .section0 h2 span {
  color: #578726;
  font-family: "MyriadProRegular";
}
.promo .section0 h3 {
  color: #578726;
  font-size: 26px;
  text-align: center;
  font-family: "MyriadProRegular";
  margin-bottom: 80px;
}
.promo .section0 .section0-box ul {
  width: 42%;
  float: right;
}
.promo .section0 .section0-box ul li {
  color: black;
  font-size: 21px;
  font-family: "MyriadProRegular";
  margin-bottom: 25px;
}
.promo .section0 .section0-box ul li span {
  color: #578726;
  font-size: 27px;
  font-family: "MyriadProBold";
}
.promo .section0 .section0-box img {
  width: 44%;
  padding-left: 74px;
}
.promo .page-h2 {
  font-size: 2.9em;
}
.promo .page-h3 {
  font-size: 27px;
  color: #578726;
  font-family: "MyriadProBold";
}
.promo .page-h4 {
  font-family: "MyriadProRegular";
}
.promo .section8 h1 {
  background: #578726;
  text-align: center;
  color: white;
  font-size: 27px;
  font-family: "MyriadProBold";
  line-height: 44px;
}
.promo .section8 h2 {
  color: #404040;
  padding-left: 25px;
  font-size: 27px;
  font-family: "MyriadProBold";
}
.promo .section8 h3 {
  font-family: "MyriadProBold";
  margin-bottom: 20px;
}
.promo .section8 p {
  font-family: "MyriadProRegular";
  margin-bottom: 20px;
  font-size: 1.25em;
  line-height: 21px;
  font-weight: normal;
}
.promo .section8 ul {
  padding: 15px 0 25px 45px;
}
.promo .section8 ul li {
  font-size: 21px;
  font-family: "MyriadProRegular";
  margin-bottom: 4px;
}
.promo .section8 ul li span {
  font-family: "MyriadProBold";
  color: #578726;
}
.promo .section8 table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
}
.promo .section8 table tr {
  font-size: 24px;
  height: 35px;
  border-bottom: 1px solid #c9c9c9;
  font-family: "MyriadProRegular";
}
.promo .section8 table tr span {
  font-family: "MyriadProBold";
  color: #404040;
}
.promo .section8 table tr td:nth-child(1) {
  width: 66%;
  padding: 0 5px;
}
.promo .section8 table tr td:nth-child(2) {
  width: 17%;
}
.promo .section8 table tr td:nth-child(3) {
  width: 17%;
}
.promo .section8 table tr:nth-child(7) {
  font-family: "MyriadProBold";
  color: #404040;
}
.promo .section8 table tr:last-child {
  background: #578726;
  font-family: "MyriadProBold";
  color: white;
}
.promo .section8 table tr td:nth-child(2),
.promo .section8 table tr td:nth-child(3) {
  text-align: center;
}

@media screen and (min-width: 1300px) {
  .index .page-wrap {
    width: 1000px;
  }

  body .index {
    font-size: 1.5em;
  }

  .logo {
    width: 375px;
    font-size: 18px;
  }

  .img-text-box .img-text {
    width: 420px;
  }

  .article3 ul {
    width: 250px;
  }

  .social .icon {
    margin-top: 2px;
  }
}
@media screen and (max-width: 700px) {
  .page-wrap {
    width: 90%;
  }

  .video iframe {
    border: none;
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 635px) {
  .copyright .copyright-left {
    width: 45%;
  }

  .copyright .copyright-middle {
    width: 40%;
    float: right;
    text-align: right;
  }

  .copyright .copyright-right {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .img-text-box img {
    width: 52%;
  }

  .article3 ul {
    width: 200px;
  }

  .video iframe {
    border: none;
    width: 100%;
    height: 270px;
  }
}
@media screen and (max-width: 555px) {
  br {
    display: none;
  }

  .img-text-box .img-text {
    bottom: 0;
    border: none;
  }

  .img-text-box {
    padding: 0;
  }

  .img-text-box img {
    width: 100%;
  }

  .img-text-box .img-text {
    position: relative;
    right: inherit;
    text-align: center;
    width: auto;
    border-top: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }

  .article3 ul {
    width: 280px;
    float: none;
    text-align: center;
    margin: 0 auto;
    list-style: none;
    position: relative;
  }
  .article3 ul li {
    position: relative;
    display: inline-block;
  }
  .article3 ul li:after {
    content: "";
    position: absolute;
    left: -15px;
    top: 6px;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
  }

  .article1 h1 {
    font-size: 3.375em;
  }

  .article1 h2 {
    font-size: 2.25em;
  }

  .article2 ul {
    padding: 0 0 20px 15px;
  }

  .logo {
    width: auto;
    float: none;
    text-align: center;
  }

  .video iframe {
    border: none;
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 1.6em;
  }

  .img-title {
    font-size: 0.9em;
  }

  .video iframe {
    border: none;
    width: 100%;
    height: 230px;
  }
}
@media screen and (max-width: 400px) {
  .article1 h1 {
    font-size: 2.375em;
  }

  .article1 h2 {
    font-size: 1.6em;
  }

  .video iframe {
    border: none;
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 380px) {
  .copyright .copyright-left, .copyright .copyright-middle, .copyright .copyright-right {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .copyright .copyright-right {
    margin-top: 0;
  }
}
@media screen and (max-width: 350px) {
  body, .page-wrap {
    min-width: 270px;
  }

  .title {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 1030px) {
  .page .page-wrap {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 947px) {
  .section3 .left-text3:after {
    top: -135px;
    height: 150px;
  }

  .section3 .left-text3:before {
    top: -135px;
  }

  .section5 .right-text2 {
    right: 2%;
  }
}
@media screen and (max-width: 800px) {
  .section7 .right-text2 {
    right: -5%;
  }

  .section4 .right-text1:after {
    height: 70px;
  }

  .section4 .right-text1:before {
    bottom: -55px;
  }

  .section3 .left-text2:after {
    height: 135px;
  }

  .section3 .left-text2:before {
    bottom: -120px;
  }

  .left-text4 {
    bottom: -30px;
    right: -10%;
  }

  .left-text4:after {
    top: -55px;
    height: 70px;
  }

  .left-text4:before {
    top: -55px;
  }

  .right-text1:after {
    height: 135px;
  }

  .right-text1:before {
    bottom: -120px;
  }

  .left-text2:after {
    height: 150px;
  }

  .left-text2:before {
    bottom: -135px;
  }

  .section3 .left-text4:after {
    top: -25px;
    height: 40px;
  }

  .section3 .left-text4:before {
    top: -25px;
  }

  .section4 .right-text2 {
    right: -4%;
  }
}
@media screen and (max-width: 760px) {
  .left-text5:after {
    top: -125px;
    height: 140px;
  }

  .left-text5:before {
    top: -125px;
  }

  .right-text1:after {
    height: 240px;
  }

  .right-text1:before {
    bottom: -225px;
  }

  .section3 .left-text3:after {
    top: -100px;
    height: 115px;
  }

  .section3 .left-text3:before {
    top: -100px;
  }

  .section3 .left-text5 {
    left: 9%;
  }

  .section3 .left-text5:after {
    top: -55px;
    height: 70px;
  }

  .section3 .left-text5:before {
    top: -55px;
  }

  .section7 .right-text2 {
    right: 30%;
  }

  .section5 .right-text2 {
    right: 30%;
  }

  .section4 .right-text2 {
    right: 15%;
  }

  .page-box .page-box-left {
    width: 80%;
    margin: 0;
    display: block;
  }

  .page-box .page-box-right {
    width: 80%;
    margin: 80px 0;
  }

  .social {
    top: 15%;
  }
}
@media screen and (max-width: 680px) {
  .page-h2 {
    font-size: 2.15em !important;
    margin-top: 0;
  }

  .page-h3 {
    font-size: 1.2em !important;
  }

  .second-title {
    font-size: 2.31em;
  }
}
@media screen and (max-width: 630px) {
  .section2 .left-text1 {
    left: -2%;
    top: -30px;
  }

  .section2 .left-text1:after {
    height: 130px;
    left: initial;
    right: -8px;
  }

  .section2 .left-text1:before {
    bottom: -115px;
    left: initial;
    right: -10px;
  }

  .section2 .left-text2:after {
    height: 120px;
    left: 50%;
    top: 20px;
  }

  .section2 .left-text2:before {
    bottom: -125px;
    left: 47%;
  }

  .section2 .left-text2 {
    left: 26%;
    top: -30px;
  }
}
@media screen and (max-width: 560px) {
  .section3 .left-text4:after {
    top: -40px;
    left: 50%;
    height: 40px;
  }

  .section3 .left-text4:before {
    top: -45px;
    left: 48%;
  }

  .section3 .left-text5:after {
    top: -50px;
    height: 50px;
    left: 50%;
  }

  .section3 .left-text5:before {
    top: -50px;
    left: 47%;
  }

  .section3 .left-text5 {
    left: 1%;
  }

  .section3 .left-text1:after {
    top: 20px;
    height: 75px;
    left: 50%;
  }

  .section3 .left-text1 {
    left: 3%;
  }

  .section3 .left-text1:before {
    bottom: -80px;
    left: 48%;
  }

  .right-text1:after {
    height: 190px;
  }

  .right-text1:before {
    bottom: -175px;
  }

  .left-text5 {
    left: 9%;
  }
}
@media screen and (max-width: 470px) {
  .section2 .left-text2 {
    top: -60px;
  }

  .section3 .left-text5 {
    bottom: -20px;
  }

  .section3 .left-text4 {
    bottom: -40px;
  }

  .section7 .right-text2 {
    right: 0;
  }

  .social .icon {
    margin-top: 2px;
  }

  .section3 .left-text2 {
    left: 50%;
  }

  .section3 .left-text2:after {
    height: 115px;
  }

  .section3 .left-text2:before {
    bottom: -100px;
  }

  .left-text3 {
    left: 60%;
  }

  .left-text3:after {
    top: 20px;
    height: 95px;
    left: 20%;
  }

  .left-text3:before {
    bottom: -100px;
    left: 18%;
  }

  .left-text4:after {
    top: -45px;
    height: 45px;
    left: 30%;
  }

  .left-text4:before {
    top: -45px;
    left: 29%;
  }

  .section2 .left-text1:after {
    height: 100px;
  }

  .section2 .left-text1:before {
    bottom: -85px;
  }

  .section2 .left-text1 {
    left: -4%;
  }

  .page-h2 {
    font-size: 1.7em !important;
  }

  .page-box {
    margin: 0 auto;
  }

  .section3 .left-text3:after {
    top: -70px;
    height: 70px;
  }

  .section3 .left-text3:before {
    top: -75px;
  }
}
@media screen and (max-width: 430px) {
  .left-text5:after {
    top: -80px;
    height: 80px;
    left: 20%;
  }

  .left-text5 {
    left: -1%;
  }

  .left-text5:before {
    top: -80px;
    left: 18.5%;
  }

  .section3 .left-text2:after {
    height: 90px;
  }

  .section3 .left-text2:before {
    bottom: -75px;
  }

  .section5 .right-text2 {
    right: 5%;
  }

  .section6 .left-text1 {
    left: 20%;
  }

  .section4 .right-text2 {
    right: 0;
  }

  .left-text3 {
    left: 60%;
    width: 120px;
    white-space: normal;
    top: -40px;
  }

  .left-text3:after {
    top: 35px;
    height: 60px;
  }

  .left-text3:before {
    bottom: -60px;
  }

  .left-text5 {
    left: -1%;
    width: 100px;
    white-space: normal;
    bottom: -45px;
  }

  .section3 .left-text3 {
    bottom: -30px;
    right: -20%;
  }

  .section3 .left-text5 {
    left: -2%;
  }
}
@media screen and (max-width: 370px) {
  .page-box .page-box-left, .page-box .page-box-right {
    width: 90%;
  }

  .right-text1:after {
    height: 150px;
  }

  .right-text1:before {
    bottom: -135px;
  }
}
@media screen and (max-width: 1000px) {
  .promo .section0 .section0-box img {
    width: 100%;
    padding-left: 0;
  }

  .promo .section0 .section0-box ul {
    width: 380px;
    margin: 25px auto;
    float: none;
  }
}
@media screen and (max-width: 680px) {
  .promo .section0 h1 {
    font-size: 70px;
  }

  .promo .section0 h2 {
    font-size: 30px;
  }

  .promo .section0 h3 {
    font-size: 21px;
  }

  .promo .section0 .section0-box ul {
    margin: 25px auto 80px;
  }
}
@media screen and (max-width: 555px) {
  .promo .section0 h1 {
    padding: 10px 0 22px;
  }

  .promo .section0 h2 {
    font-size: 25px;
  }

  .promo .section0 h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 455px) {
  .promo .section0 .section0-box ul {
    width: 100%;
    text-align: center;
    list-style-type: none;
  }

  .promo .section0 .section0-box ul li {
    color: black;
    font-size: 18px;
  }

  .promo .section0 .section0-box ul li span {
    color: #578726;
    font-size: 22px;
  }
}
@media screen and (max-width: 1040px) {
  .promo .section8 table tr {
    font-size: 22px;
  }
}
@media screen and (max-width: 940px) {
  .promo .section8 table tr {
    font-size: 20px;
  }
}
@media screen and (max-width: 840px) {
  .promo .section8 table tr {
    font-size: 18px;
  }
}
@media screen and (max-width: 760px) {
  .promo .section8 table tr {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .promo .section8 table tr td:nth-child(1) {
    width: 60%;
  }

  .promo .section8 table tr td:nth-child(2) {
    width: 20%;
  }

  .promo .section8 table tr td:nth-child(3) {
    width: 20%;
  }
}
@media screen and (max-width: 460px) {
  .promo .section8 table tr td:nth-child(1) {
    width: 54%;
  }

  .promo .section8 table tr td:nth-child(2) {
    width: 22%;
  }

  .promo .section8 table tr td:nth-child(3) {
    width: 22%;
  }

  .promo .section8 h1 {
    font-size: 21px;
  }

  .promo .section8 table tr {
    font-size: 14px;
  }

  .promo .section8 h2 {
    padding-left: 0;
  }

  .promo .section8 ul {
    padding: 15px 0 25px 15px;
  }

  .promo .section8 h2 {
    font-size: 21px;
  }

  .promo .section8 ul li {
    font-size: 18px;
  }
}
@media screen and (max-width: 390px) {
  .promo .section8 table tr td:nth-child(1) {
    width: 46%;
  }

  .promo .section8 table tr td:nth-child(2) {
    width: 27%;
  }

  .promo .section8 table tr td:nth-child(3) {
    width: 27%;
  }
}
@media screen and (max-width: 340px) {
  .promo .section8 table tr td:nth-child(1) {
    width: 33.3%;
  }

  .promo .section8 table tr td:nth-child(2) {
    width: 33.3%;
  }

  .promo .section8 table tr td:nth-child(3) {
    width: 33.3%;
  }
}

/*# sourceMappingURL=style.css.map */
